# deps
node_modules/
.pnpm-store/

# build
build/
.svelte-kit/
dist/

# env
.env
.env.*
!.env.example

# db
*.db
*.db-shm
*.db-wal

# os
.DS_Store
Thumbs.db

# editor
.idea/
.vscode/
*.swp

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# tests
coverage/
playwright-report/
test-results/
