{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Total</th>
                <th>Transacted</th>
            </tr>
        </thead>
        <tbody>

            {% for transaction in transactions %}
            <tr>
                <td>{{ transaction['symbol'] }}</td>
                <td>{{ transaction['shares'] }}</td>
                <td>{{ transaction['price'] }}</td>
                <td>{{ transaction['total'] }}</td>
                <td>{{ transaction['date'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4"></td>
                <td>{{ total }}</td>
            </tr>
        </tfoot>
    </table>
{% endblock %}
